{% extends "quoteapp/base.html" %}

{% block content %}

<h3>{{ author_successfully_added }}</h3>
<form method="POST" action="{% url 'quoteapp:add-author' %}">
    {% csrf_token %}
    <div class="row">
        <div class="form-group col-xs-3">
            <label> Full name:
                {{ form.fullname }}
            </label>
            <span>{{ form.errors.description }}</span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-3">
            <label> Born date:
                <input type="date" name="born_date" class="form-control" />
            </label>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-3">
            <label> Born location:
                {{ form.born_location }}
            </label>
            <span>{{ form.errors.born_location }}</span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-3">
            <label> Description:
                {{ form.description }}
            </label>
            <span>{{ form.errors.description }}</span>
        </div>
    </div>
    <input type="submit" value="Add author" class="btn btn-primary" />
</form>
{% endblock %}