{% extends "quoteapp/base.html" %}

{% block content %}

<h3>{{ quote_successfully_added }}</h3>
<form method="POST" action="{% url 'quoteapp:add-quote' %}">
    {% csrf_token %}
    <div class="row">
        <div class="form-group col-xs-3">
            <label> Quote text:
                {{ form.text }}
            </label>
            <span>{{ form.errors.text }}</span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-3">
            <label> Select author:
                <select name="author" required>
                    {% for author in authors %}
                    <option value="{{author.id}}">{{author.fullname}}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-3">
            <label> Select tags:
                <select name="tags" multiple="multiple" required>
                    {% for tag in tags %}
                    <option value="{{tag.name}}">{{tag.name}}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
    </div>
    <input type="submit" value="Add quote" class="btn btn-primary" />
</form>
{% endblock %}