{% extends "quoteapp/base.html" %}

{% block content %}

{% if messages %}
<div>
    {% for message in messages %}
    <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="form-group col-xs-3">
            <label> Username:
                {{ form.username }}
            </label>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-3">
            <label>Password:
                {{ form.password }}
            </label>
        </div>
    </div>

    <input type="submit" value="Login" class="btn btn-primary" />
</form>

{% endblock %}
